.container_slider {
    max-width: 1520px;
    margin: 0 auto;
}

/* Слайдер */

.slider {
    display: block;
    position: relative;
    padding: 0px 80px;
}

.slider_1440 {
    display: none;
}

.slider_1024 {
    display: none;
}

.slider_680 {
    display: none;
}

.slider_424 {
    display: none;
}

/*===*/

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/*===*/

/* Лента слайдов */

.slick-track {
    display: flex;
}

/*===*/

/* Стрелка */

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
    font-size: 0px;
    width: 60px;
    height: 60px;
    border: 0px;
    padding: 0px;
}

/*===*/

/* Стрелка влево */

.slick-arrow.slick-prev {
    left: 10px;
    background: url("../img/left.svg") 0 0 / 100% no-repeat;
    outline: none;
}

/*===*/

/* Стрелка вправо */

.slick-arrow.slick-next {
    right: 10px;
    background: url("../img/right.svg") 0 0 / 100% no-repeat;
    outline: none;
}

/*===*/

/* Точки */

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slick-dots button {
    font-size: 0;
    height: 15px;
    width: 15px;
    background-color: #161616;
    border-radius: 50%;
    border: 2px solid #161616;
}

.slick-dots .slick-active button {
    background-color: #f0f0f0;
    border: 2px solid #161616;
}

/*===*/

/* Элементы внутри слайдера */

.slider_item {
    text-align: center;
}

/*===*/

@media (max-width: 1439px) {
    .container_slider {
        max-width: 1024px;
    }

    /* Слайдер */

    .slider {
        display: none;
    }

    .slider_1440 {
        display: block;
        position: relative;
        padding: 0px 85px;
    }

    .slider_1024 {
        display: none;
    }

    .slider_680 {
        display: none;
    }

    .slider_424 {
        display: none;
    }

    /*===*/

    /* Стрелка влево */

    .slider_1440 .slick-arrow.slick-prev {
        left: 10px;
    }

    /*===*/

    /* Стрелка вправо */

    .slider_1440 .slick-arrow.slick-next {
        right: 10px;
    }

    /*===*/

    /* Точки */

    .slider_1440 .slick-dots {
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
    }

    .slider_1440 .slick-dots li {
        display: inline-block;
        list-style: none;
        margin: 0px 10px;
    }

    /*===*/
}

@media (max-width: 1023px) {
    .container_slider {
        max-width: 1023px;
    }

    /* Слайдер */

    .slider {
        display: none;
    }

    .slider_1440 {
        display: none;
    }

    .slider_1024 {
        display: block;
        position: relative;
        padding: 0px 20px;
        z-index: 0;
    }

    .slider_680 {
        display: none;
    }

    .slider_424 {
        display: none;
    }

    /*===*/

    /* Точки */

    .slider_1024 .slick-dots {
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
    }

    .slider_1024 .slick-dots li {
        display: inline-block;
        list-style: none;
        margin: 0px 10px;
    }

    /*===*/
}

@media (max-width: 679px) {
    .container_slider {
        max-width: 679px;
    }

    /* Слайдер */

    .slider {
        display: none;
    }

    .slider_1440 {
        display: none;
    }

    .slider_1024 {
        display: none;
    }

    .slider_680 {
        display: block;
        position: relative;
        padding: 0px 20px;
        z-index: 0;
    }

    .slider_424 {
        display: none;
    }

    /*===*/
}

@media (max-width: 423px) {
    .container_slider {
        max-width: 424px;
    }

    /* Слайдер */

    .slider {
        display: none;
    }

    .slider_1440 {
        display: none;
    }

    .slider_1024 {
        display: none;
    }

    .slider_680 {
        display: none;
    }

    .slider_424 {
        display: block;
        position: relative;
        padding: 0px 10px;
        z-index: 0;
    }

    /*===*/
}

@media (max-width: 342px) {
    .container_slider {
        max-width: 342px;
    }

    /* Слайдер */

    .slider {
        display: none;
    }

    .slider_1440 {
        display: none;
    }

    .slider_1024 {
        display: none;
    }

    .slider_680 {
        display: none;
    }

    .slider_424 {
        display: block;
        position: relative;
        padding: 0px 0px;
        z-index: 0;
    }

    /*===*/
}
